@import 'variables';

@import 'vendor/bootstrap';
@import 'flex';

body {
	font-size: 100%;
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 500px;
	min-width: 300px;
}

div[data-hostname] {
	transition: background-color linear 0.2s;

	&:hover {
		background-color: $SILVER;
	}
}
