@import '../../bower_components/bootstrap/scss/bootstrap-flex';

@import 'variables';

body {
	overflow: hidden;
	max-width: 500px;
	min-width: 300px;
}

div[data-hostname] {
	transition: background-color linear 0.2s;

	&:hover {
		background-color: $SILVER;
		cursor: pointer;
	}
}
