doctype html
html
	head
		title FormSafe
		link(rel='stylesheet', href='style/options.css')


	body
		div

		script(src='scripts/vendor/lodash.js')
		script(src='scripts/utils.js')
		script(src='scripts/options.js')
